<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookViewer</title>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bookViewer">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default" ng-controller="MainCtrl">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BookViewer</a>
      </div>
      <ul class="nav navbar-nav">
        <li ng-class="{'active': isActiveItem('books')}">
          <a ng-click="setActiveItem('books')" href="#books">Books</a>
        </li>
        <li ng-class="{'active': isActiveItem('authors')}">
          <a ng-click="setActiveItem('authors')" href="#authors">Authors</a>
        </li>
      </ul>
    </nav>
    <div ng-view></div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/controllers/MainCtrl.js"></script>
    <script src="scripts/controllers/books/BooksCtrl.js"></script>
    <script src="scripts/controllers/books/BookCtrl.js"></script>
    <script src="scripts/controllers/authors/AuthorsCtrl.js"></script>
    <script src="scripts/controllers/authors/AuthorCtrl.js"></script>
    <script src="scripts/controllers/genres/GenresCtrl.js"></script>
    <script src="scripts/services/Author.js"></script>
    <script src="scripts/services/Book.js"></script>
    <script src="scripts/services/ModelManager.js"></script>
    <script src="scripts/directives/bookList.js"></script>
    <script src="scripts/filters/filterByGenre.js"></script>
    <!-- endbuild -->
</body>
</html>
